@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
  
  body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
  
  
  .card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    cursor:default;
    color: rgb(88 199 250 / 0%);
    font-family: cursive;
  }
  /*animação começa a partir daqui*/
  /*animação para o texto CARD MAGIC*/
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }  /*animação para o texto CARD MAGIC*/
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
    /*animação da borda em rgb*/
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)/*Variavel que foi definida antes usando o @property*/
      , #5ddcff,#ff00f2, #4de33c 43%, #6600ff, #ff0000);/*Numero de cores para a animação*/
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 3s linear infinite;/*Tipo de animação da borda*/
  }/*Animação da sombra ao redor da borda*/
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff,#ff00f2, #4de33c 43%, #6600ff, #ff0000);
      opacity: 1;
    transition: opacity .5s; /*Tipo de animação da sombra*/
    animation: spin 3s linear infinite;
  }
 
   /*Que faz a animação se "mover" na borda*/
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
